@page "/cloud/{cloudId}"
@using WebApp.Components.Layout

<PageTitle>cloud-@_cloudName — Overview | Refleter Cloud</PageTitle>

<CloudMenu CloudId="@CloudId" CloudName="@_cloudName"/>

<div class="main-dashboard__main">
    <div class="main-dashboard__content">
        <div class="main-dashboard-header">
            <div class="main-dashboard-header__top">
                <div class="main-dashboard-header__name">
                    <div class="main-dashboard-header__cloud-icon">
                        <img src="icons/cloud.svg" alt="Cloud" height="20" width="20"/>
                    </div>
                    <h1 class="main-dashboard-header__text">
                        cloud-@_cloudName
                    </h1>
                    <div class="main-dashboard-cloud-or-scope-id">
                        @CloudId
                        <ClipboardButton CloudId="@CloudId"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-dashboard__tabs">
            <div class="adaptive-tabs">
                <div class="adaptive-tabs__tabs-list">
                    <div class="adaptive-tabs__tab-container">
                        <a href="cloud/@CloudId?section=overview">
                            <div class="adaptive-tabs__tab @(Section is null || Section == string.Empty || Section.ToLower() == "overview" ? "adaptive-tabs__tab_active" : "")">
                                Overview
                            </div>
                        </a>
                    </div>
                    <div class="adaptive-tabs__tab-container">
                        <div class="adaptive-tabs__tab @(Section?.ToLower() == "quotas" ? "adaptive-tabs__tab_active" : "")">
                            Quotas
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            @if (Section == string.Empty || Section is null || Section.ToLower() == "overview")
            {
                <Overview CloudName="@_cloudName"/>
            }
            else if (Section?.ToLower() == "quotas")
            {
                <Quotas/>
            }
        </div>
    </div>
</div>

@code {
    private string? _cloudName;
    
    protected override void OnInitialized()
    {
        _cloudName = HttpContext?.User.Claims.First(c => c.Type == "name").Value;
    }

    [SupplyParameterFromQuery]
    public string? Section { get; set; }
    
    [Parameter]
    public string CloudId { get; set; }
    
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
}